<template>
  <div class="about">
    <h1>User's profile</h1>

    <b-table striped :items="userInfo" :fields="List">
      <template #cell(index)="data">
        {{ data.index + 1 }}
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  data (){
    return {
      List: [
        {
          key: 'index',
          label: 'No.'
        },
        {
          key: 'name',
          label: 'Name'
        },
        {
          key: 'DOB',
          label: 'Date of birth'
        },
        {
          key: 'PhoneNo',
          label: 'Phone Number'
        },
        {
          key: 'Address',
          label: 'Address'
        },
      ],

      userInfo:  [
        {name: 'Muhammad Izlan Bin Tahar', DOB: '19/06/1993', PhoneNo: '3210546879', Address: 'Putrajaya'},
        {name: 'Amirah Syafiqah Binti Hazwan', DOB: '27/08/2001', PhoneNo: '0123564789', Address: 'Kemaman'},
        {name: 'Megat Syafiq Bin Abdul Aziz', DOB: '23/11/1995', PhoneNo: '0147523648', Address: 'Sri Kembangan'},
        {name: 'Irfan Zikri Bin Abdullah', DOB: '30/08/1990', PhoneNo: '0123546897', Address: 'Kuantan'},
        {name: 'Azyan Farzana Binti Zaharudib', DOB: '18/03/1995', PhoneNo: '01658479325', Address: 'Nilai'}
      ]

    }

  }
}
</script>