<template>
    <div align="center">
        <h3>Welcome to the page</h3>

        <b-card
            title="Login"
            style="max-width: 30rem;"
            class="col-md-5"
        >
            <b-card-text>
            Please put your username and passsword to login
            </b-card-text>

            <b-form-group class="col-md-12">
                <label>Username</label>
                <b-form-input class="col-md-8" placeholder="Username"/>

                <label for="text-password">Password</label>
                <b-form-input class="col-md-8" type="password" id="text-password" aria-describedby="password-help-block"></b-form-input>
                <b-form-text id="password-help-block">
                Your password must be 8-20 characters long, contain letters,numbers and special characters
                </b-form-text>
            </b-form-group>

            <b-button variant="primary">Login</b-button>
        </b-card>

        <router-link to="/register">Register</router-link>
        <!-- <router-view /> -->
        <!-- <register to="/register"/> -->

    </div>

</template>

<script>
// import Register from '../components/Register'
export default {
    
    components:{
        // Register
    }
}
</script>