<template>
    <div id="register" align="center">
        <h3>Registration Form</h3>

        <b-form>
        
                <b-row class="my-1">
                    <b-col class="col-md-2">
                        <label>Name: </label>
                    </b-col>

                    <b-col class="col-md-5">
                        <b-form-input />
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col class="col-md-2">
                        <label>Date of birth: </label>
                    </b-col>

                    <b-col class="col-md-5">
                        <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col class="col-md-2">
                        <label>Phone Number: </label>
                    </b-col>

                    <b-col class="col-md-5">
                        <b-form-input />
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col class="col-md-2">
                        <label>Address: </label>
                    </b-col>

                    <b-col class="col-md-5">
                        <b-form-input />
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col class="col-md-2">
                        <label>Username: </label>
                    </b-col>

                    <b-col class="col-md-5">
                        <b-form-input />
                    </b-col>
                </b-row>

                <b-row class="my-1">
                    <b-col class="col-md-2">
                        <label>Password: </label>
                    </b-col>

                    <b-col class="col-md-5">
                        <b-form-input type="password" />
                    </b-col>
                </b-row>
            
        </b-form>

        <b-button variant="primary">Save</b-button>
    </div>
</template>